    * {
        padding: 0;
        margin: 0;
        color: white;
        overflow-x: hidden;
        font-size: 18px;
    }
    
    body {
        padding: 0;
        margin: 0;
        background-color: black;
        box-sizing: border-box;
    }
    /*  .navbar-brand,
    li>a {
        color: white !important;
    }*/
    
    .landing-page {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/landpage.jpg);
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Rochester', cursive;
        text-align: center;
    }
    
    #page>h1 {
        font-size: 50px;
        padding: 40px;
        overflow-y: hidden;
    }
    
    #page>p {
        font-size: 35px;
    }
    
    #about {
        text-align: center;
        background-color: black;
        padding-top: 30px;
    }
    
    .items>p {
        padding: 30px;
        font-size: 18px;
    }
    
    .items>img {
        height: 300px;
        width: 200px;
    }
    
    h2 {
        overflow-y: hidden;
    }
    
    .items {
        padding: 40px;
    }
    
    #experience {
        text-align: center;
        padding-top: 100px;
    }
    
    #projects {
        padding: 70px;
        text-align: center;
    }
    
    #picasotech {
        display: flex;
        justify-content: center;
    }
    
    #tech {
        padding: 30px;
    }
    
    #picasotech>img,
    #tours>img,
    #photography>img,
    #boda>img {
        height: 300px;
        width: 500px;
        padding-bottom: 40px;
    }
    
    #tours,
    #boda {
        display: flex;
        justify-content: center;
    }
    
    #picaso {
        padding: 50px;
    }
    
    #picaso,
    #safari {
        padding-left: 50px;
    }
    
    #photography {
        display: flex;
        justify-content: center;
    }
    
    #bodaboda {
        padding-left: 50px;
    }
    
    #view {
        padding: 8px 9px;
        border-radius: 10px;
    }
    
    #view>a {
        text-align: center;
        text-decoration: none;
    }
    
    #view:hover {
        background-color: blue;
    }
    
    #view>a:hover {
        color: white;
    }
    
    #projects>p {
        padding: 50px;
    }
    
    .footer {
        background-color: rgb(49, 45, 45);
        padding: 70x;
        display: flex;
        justify-content: center;
    }
    
    #contacts {
        display: flex;
        flex-direction: column;
    }
    
    #face {
        color: blue;
    }
    
    #insta {
        color: crimson;
    }
    
    #link {
        color: blue;
    }
    
    #twit {
        color: cornflowerblue;
    }
    
    @media only screen and(max-width: 480px) {
        body {
            overflow-x: hidden;
        }
        .page>h1 {
            font-size: 25px;
            overflow-y: hidden;
        }
        .page>p {
            font-size: 20px;
        }
        #picasotech>img,
        #tours>img {
            width: 100vh;
        }
    }